# Byte-compiled / cache files
__pycache__/
*.py[cod]

# Environment & secrets
.env
*.env

# Data
data/raw/
data/processed/
models/
outputs/

# Jupyter/IPython
.ipynb_checkpoints/

# Power BI
*.pbix

# OS metadata
.DS_Store
Thumbs.db
